**/*.log
**/*.jou
**/*.bin
**/*.BIN
**/*.txt
**/*.x
**/*.str
**/*.protoinst
**/*.wcfg
**/*.wdb
**/*.xml
**/*.out
**/*.bif
**/*.xo
**/*.xclbin
**/*.xsa
**/.run
**/.Xil
**/TempConfig
**/sus_codegen.sv
**/emconfig.json
**/project_*
tests/*/VCK5000*/
tests/*/U280*/
VCK5000*/
U280*/
.vscode/
!.vscode/settings.json
host/CMakeFiles
host/suspmv
host/Makefile
host/cmake_install.cmake
**/.nfs*
RelevantWork/
fpga_builds/
**/*.bkp
